@page
@model Restaurant_Management.Pages.Services.Items.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Cooking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Sku)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Recipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Instructions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Vendor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Item) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cooking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
